* {
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  color: #0d0d0d;
  margin: 0;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


header {
  background-color:rgb(21, 30, 63);
  color: #f2f3d9;
  display: flex;
}



.homeSection{
  display: flex;
  justify-content: center;
  margin: 50px;  
}
#home{ 
  margin: 0;
}

.aboutMe{
  max-width: 500px;
  padding-left: 50px;
  align-self: flex-end;
  margin-top: auto;
}

#homeImg {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;         
    height: auto;            
    border-radius: 130px 0 130px 0;  
}

 #about {
  width: 100vw;
  background-color:rgb(21, 30, 63);
  color: #f2f3d9;
  display: flex;
  margin-top: 85px;
 }

.aboutSection{
  display: flex;
  background-color: rgb(21, 30, 63);
  justify-content: center;
  
}

/* card */
.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 20px;
  display: flex;
  border: 1px solid black; 
  border-radius: 10px;
  width: 300px;
}

.cardImg {
  border-radius: 15px;
  width: 295px;
  height: auto;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}


/*madia*/
@media (max-width: 426px) {
  .homeSection {
    flex-direction: column;
  }
}