* {
  box-sizing: border-box;
}
.off-screen-menu {
  border-radius: 20px 0px 0px 20px ;
  background-color:  rgb(34, 37, 49);
  height: 300px;
  width: 150px;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 30px;
  transition: .3s ease;
}
.off-screen-menu.active {
  right: 0;
}

nav {
  padding: 1rem;
  display: flex;
  background-color:rgb(21, 30, 63);
}

.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #6F86FF;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}

body {
  background-color: #fdfdfd;
  color: #0d0d0d;
  margin: 0;
  width: 100vw;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100vw;
}


.homeSection{
  display: flex;
  justify-content: center;
  margin: 50px;  
}
#home { 
  margin: 0;
}

.aboutMe{
  max-width: 500px;
  padding-left: 50px;
  align-self: flex-end;
  margin-top: auto;
}

#homeImg {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;         
    height: auto;            
    border-radius: 130px 0 130px 0;  
}

 #about {
  height: 350px;
  width: 100vw;
  background-color:rgb(21, 30, 63);
  color: #f2f3d9;
  display: flex;
  margin-top: 85px;
 }

.aboutSection{
  display: flex;
  background-color: rgb(21, 30, 63);
  justify-content: center;
  
}

/* card */
.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 20px;
  display: flex;
  border: 1px solid black; 
  border-radius: 10px;
  width: 300px;
}

.cardImg {
  border-radius: 15px;
  width: 295px;
  height: auto;
}


/* FOOTER */
footer {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}


/*madia*/
@media (max-width: 426px) {
  .homeSection {
    flex-direction: column;
  }
}